h1 {
    margin: 0;
    padding: 40px;
    text-align: center;
    color: white;
    background-color: rgb(224, 26, 69);
}

section {
    width: 70%;
    justify-content: center;
    margin: 35px auto;
}

.employee {
    border-radius: 3px;
    margin: 10px;
    background-color: rgb(235, 235, 235);
    box-shadow: 3px 5px 5px grey;
}

.card-header {
    border-radius: 3px 3px 0px 0px;
    margin: 0;
    padding: 10px 0px;
    color: white;
    background-color: rgb(50, 109, 219);
}

h2, h3 {
    margin: 0;
    padding: 5px 10px;
}

.info {
    margin: 40px 20px;
    border: 1px solid grey;
    border-radius: 3px;
    font-size: .8em;
    background-color: rgb(252, 252, 252);
}

.info p {
    border-top: inherit;
    padding: 10px;
    margin: 0;
}

#id {
    border: none;
}